<div class="background"></div>
<div class="container">
  <div class="container">
    <div class="row">
    </div>
    <form #loginForm="ngForm" (ngSubmit)="OnSubmit(username.value, password.value)">
    <div class="row">
      <div class="col-md-4 col-sm-6 col-md-offset-4 col-sm-offset-3">
        <div class="card">
          <div class="card-header">
              <h4>Login</h4>
          </div>
          <div class="card-form">
            <div class="form-row">
              <!-- <i class="material-icons">face</i> -->
                <input type="text" #username class="form-control" placeholder="First Name" required/>
            </div>
            <div class="form-row">
              <!-- <i class="material-icons">lock_outline</i> -->
                <input type="password" #password class="form-control" placeholder="Password" required/>
            </div>
          </div>
          <div class="card-footer">
            <button  class="form-control btn btn-info btn-fill pull-right" type="submit">LET'S GO</button>
          </div>
        </div>
      </div>
    </div>
  </form>
  </div>
</div>
