<div class="main-content" >
    <div class="container-fluid">
        <div class="row">
            <div>
                <div class="card">
                    <div class="header">
                        <h4 class="title">Adicionar Ativo</h4>
                    </div>
                    <div class="content">
                        <form #ativoForm="ngForm" (ngSubmit)="OnSubmit(ativoForm)"> 
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Nome</label>
                                        <input name="nome" ngModel #nome="ngModel" type="text" class="form-control" placeholder="Nome do Ativo">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Modelo</label>
                                        <input name="modelo" ngModel #modelo="ngModel" type="text" class="form-control" placeholder="Modelo do Ativo">
                                    </div>
                                </div>
                            </div>
                                <div class="row">
                                    
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Identificador</label>
                                        <input name="identificador" ngModel #identificador="ngModel" type="email" class="form-control" placeholder="Tag Indentificador do Ativo">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="sel2">Tipo de Ativo</label>
                                        <select name="tipoAtivo" ngModel #tipoAtivo="ngModel" class="form-control" id="sel2">
                                            <option *ngFor="let ta of tipoAtivos" [ngValue]="ta.id">
                                                {{ta.descricao}}
                                            </option>
                                        </select>
                                    </div>
                                </div>

                                </div>
                                
                        
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Data da Compra</label>
                                        <input type="date" name="dataCompra" ngModel #dataCompra="ngModel" class="form-control" >
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Data da Última Manutenção</label>
                                        <input name="dataUltimaManutencao" ngModel #dataUltimaManutencao="ngModel" type="date" class="form-control">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Categoria</label>
                                        <input name="categoria" ngModel #categoria="ngModel" type="text" class="form-control" placeholder="Categoria">
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <div class="form-group">
                                        <label>Fornecedor</label>
                                        <input name="fornecedor" ngModel #fornecedor="ngModel" type="text" class="form-control" placeholder="Fornecedor">
                                    </div>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-success btn-fill pull-right">Adicionar</button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
